<main class="home">
  <section class="pageheader">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
      	<div class="title-logo"></div>
        <h1 class="text-uppercase text-bold">Interested in Sponsoring Esports?</h1>
        <p class="lead">We can help you find the right team!</p>
        <%= link_to 'Learn More', about_path, class: "btn light-blue" %>
       </div>
      </div>
    </div>
  </section>

</main>
