<main class="home">
  <section class="pageheader">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="text-uppercase text-bold">Interested in Sponsoring Esports?</h1>
        <p class="lead">We can help you find the right team!</p>
          <p><i class="glyphicon glyphicon-chevron-down"></i></p></div>
      </div>
    </div>
  </section>

</main>
