<script src="https://use.typekit.net/nms6ssu.js"></script>
<main class="home">
  <section class="pageheader">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="text-uppercase text-bold">Objective</h1>
        <p class="lead">The eSports scene has witnessed massive growth in recent years, with viewers from all demographics tuning in everyday to cheer on their favorite teams in League of Legends, Hearthstone, Counter Strike, etc. As a sponsor, you may want to take advantage of this billion dollar industry to promote your brand. But which team do you choose? With so many organizations out there competing for top performing players, it can be difficult to determine which avenue would provide the most exposure. At eSportfolio, we aim to conduct this research for you, ranking all known eSports teams based on their sponsorship viability and thus saving you time and resources.</p>
      </div>

      	<h1 class="text-uppercase text-bold">Parameters</h1>
      	<p class="lead">We analyze the potential of different eSports teams based on six parameters that we believe best represents an organization's popularity/success: <br><br>

 Social Media <br><br>

 # of Twitter Followers <br>
 Twitch Stream Viewership<br>
 Youtube Content Output<br><br>

 Performance <br><br>

 % of Matches Won<br>
 Major Tournament Wins<br>
 Tournament Prize Winnings<br><br>

 These values are updated weekly, and the weight of these different parameters may be altered according to your preferences. </p>
    
      	<h1 class="text-uppercase text-bold">Credits</h1>
      	<p class="lead">This tool is the collaborative effort of Rickie Jang, Bowen Wang, David Hua, and Brandon Takao for PennApps 16. We are all avid gamers and are excited to help grow the eSports scene.</p>
      	
    </div>


  </section>

</main>