<script src="https://use.typekit.net/nms6ssu.js"></script>
<main class="home">
  <section class="pageheader">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="text-uppercase text-bold">Objective</h1>
        <p class="lead">The goal of this site is to rank eSports teams according to a customized schema. We provide potential sponsors with information on the best teams to work with, saving research efforts.</p>
      </div>

      	<h1 class="text-uppercase text-bold">Parameters</h1>
      	<p class="lead">We use certain parameters to determine an eSport brand's success, including the % of matches won by its players, exposure on social media, and amount of content creation. The weight of these different parameters may be altered according to your needs. </p>
    
      	<h1 class="text-uppercase text-bold">Credits</h1>
      	<p class="lead">This tool is the collaborative effort of Rickie Jang, Bowen Wang, David Hua, and Brandon Takao for PennApps XVI.</p>
      	
    </div>


  </section>

</main>